@media (pointer: fine) {

  body,
  a,
  button {
    cursor: none;
  }

  .custom-cursor {
    position: fixed;

    top: 0;
    left: 0;

    width: 8px;
    height: 8px;

    background: var(--color-black);

    border-radius: 50%;

    pointer-events: none;

    z-index: 99999;

    transform:
      translate(-50%, -50%);
  }

}


@media (pointer: coarse) {

  .custom-cursor {
    display: none;
  }

}