:root {
  --color-background: #e9e9e9;
  --color-card: #f7f7f7;
  --color-black: #111111;
  --color-text-secondary: #666666;

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Arial,
    Helvetica,
    sans-serif;

  color: var(--color-black);
  background: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;

  background: var(--color-background);
  color: var(--color-black);
}

button,
a {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
}